@import "../flex.less";

.pwui-switch {
  --pwui-switch-height: 36px;
  --pwui-switch-color-active-border: blue;
  --pwui-switch-color-inactive: gray;
  --pwui-switch-color-inactive-hover: rgba(255, 255, 255, 0.125);
  --pwui-switch-color-active-body: rgba(0, 0, 255, 0.5);
  --pwui-switch-color-active-text: white;

  .flex-row(start, center, 4px);

  padding-left: 48px;
  height: var(--pwui-switch-height);

  &-button {
    appearance: none;
    -webkit-appearance: none;
    background: unset;
    border: unset;
    cursor: pointer;
    height: 100%;
    flex: 1;

    padding-top: 2px;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--pwui-switch-color-inactive);

    color: var(--pwui-switch-color-inactive);
    font-size: 1em;
    font-weight: bold;

    &:hover {
      background-color: var(--pwui-switch-color-inactive-hover);
    }

    &.active {
      background-color: var(--pwui-switch-color-active-body);
      border-bottom-color: var(--pwui-switch-color-active-border);
      color: var(--pwui-switch-color-active-text);
    }
  }
}